/* estilos body */
body{
    background-color: white;
}


/* estilos navbar */
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 10px;
    padding: 0px;
}
li{
    display: inline;
} 

#navbar {
    background-color: #333;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Garamond';
    transition: background 0.3s ease;
}

#navbar ul li a:hover,
#navbar ul li a:focus {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 10px 10px;
    color: #ffeb3b;
}

/* Clear floats after the list items */
#navbar:after {
    content: "";
    display: table;
    clear: both;
}

/* navbar de filtado */

#especificacion, #tipoPropiedad, #accion, #desdeContainer, #hastaContainer, #monedaContainer, #localidad{
    background-color: white;
    border-radius: 10px;
}
#especificacion input[type="text"], #tipoPropiedad select, #accion select, #localidad select, #desdeValue, #hastaValue, #moneda{
    margin: 5px;
    border: none;
    outline: none;
}

#tipoProp-container p, #localidad-container p, #accion-container p{
    margin: 0px;
    font-size: 13px;
    font-family: italic;
    font-weight: bold;
}

#tipoPropiedad, #localidad, #accion{
    margin-bottom: 15px;
}

#precio{
    border-radius: 10px;
    border: 1px solid white;
}

#valor{
    margin: 0px;
    grid-row: 1;
    display: inline;
}


#precio p{
    margin: 0px;
}

#form-filtros{
    display: flex;
    background-color: orange;
    align-items: center;
    justify-content: space-around;
}

#opcionesPrecio{
    margin: 3px;
    background-color: rgb(193, 193, 193);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; /* repeat(3, 1fr); */
    grid-row: 2;
    column-gap: 10px;
    padding: 5px;
}

.textInputs{
    font-family: italic;
    font-weight: bold;
    align-self: end;
    font-size: 13px;
}

.monedaText{
    grid-row: 1;
    grid-column: 1;
}
#moneda{
    grid-row: 2;
    grid-column: 1;
}
#monedaContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desdeText{
    grid-row: 1;
    grid-column: 2;
}
#desde{
    grid-row: 2;
    grid-column: 2;
}

.hastaText{
    grid-row: 1;
    grid-column: 3;
}
#hasta{
    grid-row: 2;
    grid-column: 3;
}


#desdeValue, #hastaValue{
    width: 50px;
}

/* contenedor de propiedad */
.prop-container{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 300px;
    width: 800px;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    border:solid 3px lightgray;
    transition: border-color 1s ease;
}
.prop-container:hover{
    border-color: orange;
}

.text-prop p{
    font-family:'Times New Roman', Times, serif;
}

.text-prop{
    background-color: rgb(229, 229, 229);
    position: relative;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(imagenes/slider/paisaje.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 100%;
}

#prev, #next{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    opacity: 0.6;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: opacity 0.3s, border-shadow 0.3s;
}

#prev:hover, #next:hover{
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#prev{
    transform: rotate(180deg);
}

#prevIMG, #nextIMG{
    width: 25px;
    height: 25px;
}

#favoritos{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:  rgb(229, 229, 229);
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

#favoritos:hover{
    transform: scale(1.1);
}

#favoritos img{
    width: 35px;
    height: 35px;
    margin: 5px;
}

.text-prop{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

#aplicoFiltro{
    width: 55px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

#aplicoFiltro input[type="submit"]{
    border: none;
    outline: none;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

#propValue, #tipoCambio, #ciudadPropiedad{
    margin: 10px;
    font-size: 25px;
    grid-row: 1;
    grid-column: 1;
}
#propValue{
    position: absolute;
    left: 60px;
}
#ciudadPropiedad{
    position: absolute;
    top: 50px;
}

#propZona{
    margin: 10px;
    grid-row: 2;
}
#favoritos{
    grid-row: 1;
    justify-self: end;
}