/* estilos body */
body{
    background-color: 'white';
}


/* estilos navbar */
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 10px;
    padding: 0px;
}
li{
    display: inline;
} 

#navbar {
    background-color: #333;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Garamond';
    transition: background 0.3s ease;
}

#navbar ul li a:hover,
#navbar ul li a:focus {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 10px 10px;
    color: #ffeb3b;
}

/* Clear floats after the list items */
#navbar:after {
    content: "";
    display: table;
    clear: both;
}

/* navbar de filtado */

#especificacion, #tipoPropiedad, #accion, #desdeContainer, #hastaContainer, #monedaContainer, #localidad{
    background-color: white;
    border-radius: 10px;
}
#especificacion input[type="text"], #tipoPropiedad select, #accion select, #localidad select, #desdeValue, #hastaValue, #moneda{
    margin: 5px;
    border: none;
    outline: none;
}

#tipoProp-container p, #localidad-container p, #accion-container p{
    margin: 0px;
    font-size: 13px;
    font-family: italic;
    font-weight: bold;
}

#tipoPropiedad, #localidad, #accion{
    margin-bottom: 15px;
}

#precio{
    border-radius: 10px;
    border: 1px solid white;
}

#valor{
    margin: 0px;
    grid-row: 1;
    display: inline;
}


#precio p{
    margin: 0px;
}

#form-filtros{
    display: flex;
    background-color: rgb(255, 201, 101);
    align-items: center;
    justify-content: space-around;
}

#opcionesPrecio{
    margin: 3px;
    background-color: rgb(193, 193, 193);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; /* repeat(3, 1fr); */
    grid-row: 2;
    column-gap: 10px;
    padding: 5px;
}

.textInputs{
    font-family: italic;
    font-weight: bold;
    align-self: end;
    font-size: 13px;
}

.monedaText{
    grid-row: 1;
    grid-column: 1;
}
#moneda{
    grid-row: 2;
    grid-column: 1;
}
#monedaContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desdeText{
    grid-row: 1;
    grid-column: 2;
}
#desde{
    grid-row: 2;
    grid-column: 2;
}

.hastaText{
    grid-row: 1;
    grid-column: 3;
}
#hasta{
    grid-row: 2;
    grid-column: 3;
}


#desdeValue, #hastaValue{
    width: 50px;
}

/* contenedor de propiedades */
#vistaPropiedades{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prop-container{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 300px;
    width: 900px;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    border:solid 3px lightgray;
    transition: border-color 1s ease;
}
.prop-container:hover{
    border-color: orange;
}

.text-prop p{
    font-family:'Times New Roman', Times, serif;
}

.text-prop{
    background-color: rgb(229, 229, 229);
    position: relative;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(imagenes/slider/RE59Mik.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.prev, .next{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    margin: 10px;
    opacity: 0.6;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: opacity 0.3s, border-shadow 0.3s;
}

.prev:hover, .next:hover{
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.prev{
    transform: rotate(180deg);
}

.prevIMG, .nextIMG{
    width: 25px;
    height: 25px;
}

.favoritos{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:  rgb(229, 229, 229);
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.favoritos:hover{
    transform: scale(1.1);
}

.favoritos img{
    width: 35px;
    height: 35px;
    margin: 5px;
}

.text-prop{
    display: grid;
    grid-template-rows: 130px auto;
    grid-template-columns: repeat(2,1fr);
}

#aplicoFiltro{
    width: 55px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

#aplicoFiltro input[type="submit"]{
    border: none;
    outline: none;
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.propValue, .tipoCambio, .ciudadPropiedad{
    margin: 10px;
    font-size: 25px;
    grid-row: 1;
    grid-column: 1;
}
.propValue{
    position: absolute;
    left: 60px;
}
.ciudadPropiedad{
    position: absolute;
    top: 50px;
}

.propZona{
    position: absolute;
    margin: 10px;
    /* grid-column: 1; */
    /* grid-row: 2; */
    /* align-self:flex-start; */
    top: 90px;
}
.favoritos{
    grid-row: 1;
    justify-self: end;
}


/* estilos para la propiedad seleccionada  */

#propSeleccionada{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "slideAmpl slideAmpl Vslide"
                         "slideAmpl slideAmpl Vslide"
                         "propDet    propDet  fContacto"
                         "ubiMap     ubiMap   fContacto"
}

 #vertical-slide, #detallesProp, #formContacto, #propUbicacion{
    background-color: rgb(229, 229, 229);
    border-radius: 20px;
    overflow: hidden;
    border:solid 1px lightgray;
    transition: border-color 0.5s ease;
}
#vertical-slide:hover, #detallesProp:hover, #formContacto:hover, #propUbicacion:hover{
    border-color: orange;
}

/* slideAmpliado no está porque se usa el mismo slide con su gridArea */

#vertical-slide{
    margin-top: 20px;
    grid-area: Vslide;
    height: 325px;
    width: 306px;
}
#vertical-slide img{
    cursor: pointer;
    border: 1px solid white;
    width: 100px;
    max-width: 100%;
    height: 100px;
    transition: transform 0.5s ease;
}
#vertical-slide img:hover{
    transform: scale(1.1);
}
#IMGcontainer{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    /* padding: 5px; */
    height: 100%;
    width: 100%;
    /* -ms-overflow-style: none; */
}

#IMGcontainer::-webkit-scrollbar{
    width: 8px;
}
#IMGcontainer::-webkit-scrollbar-track{
    background: #f9e2bf;
}
#IMGcontainer::-webkit-scrollbar-thumb {
    background: rgb(255, 189, 68);
    border-radius: 10px;
}
#IMGcontainer::-webkit-scrollbar-thumb:hover {
    background: orange;
}

#detallesProp{
    margin-top: 55px;
    border: none;
    grid-row: 2;
    grid-column: 1;
    height: 160px;
    width: 530px;
    justify-self: right;
}
/* #detallesProp{
    grid-area: propDet;
    height: 150px;
    width: 500px;
    justify-self: center;
} */

#detallesProp img{
    padding-right: 5px;
}
#formContacto{
    position: relative;
    grid-area: fContacto;
    height: 550px;
    width: 300px;

}
#propUbicacion{
    grid-area: ubiMap;
    width: 650px;
    height: 400px;
    justify-self: center;
    overflow: hidden;
    position: relative;
    cursor: pointer; 
}
#CJ, .logosContacto{
    position: absolute;
    border-radius: 50%;
    border: 2px solid orange;
    cursor: pointer;
}   

#CJ{
    top: 80px;
    right: 210px;
    width: 70px;
    height: 70px;
}

.logosContacto{
    width: 40px;
    height: 40px;
    left: 240px;
    bottom: 490px;
    transition: background-color 1s ease;
}
.logosContacto:hover{
    background-color: rgb(255, 200, 99);
}
#mailLogo{
    /* bottom: 100px; */
    left: 180px;
}

#formContacto h2, #formContacto h3, #formContacto p{
    font-family: sans-serif;
} 

#formContacto h2{
    margin-left: 15px;
}
#formContacto h3{
    margin-top: 40px;
    margin-left: 95px;
}
#formContacto p{
    margin-left: 95px;
}
.datosContacto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}
.datosContacto input[type="submit"]{
    height: 40px;
    border-radius: 10px;
    background-color: rgb(255, 209, 124);
    color: white;
    font-size: 19px;
    font-weight: 700;
    /* cursor: pointer; */
    border: 'none';
}
.datosContacto input[type="text"]{
    border: none;
    outline: none;
    font-size: 16px;
}
.datosContacto div{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid rgb(254, 217, 150);
    overflow: hidden;
    height: 25px;
    transition: border 0.5s ease;
}
.datosContacto div:hover{
    border: 2px solid orange;
}
#mensajeContacto{
    overflow: hidden;
    outline: none;
    border: none;
}
#textArea-Container, #mensajeContacto{
    height: auto;
}
#textArea-Container{
    border: 1px solid rgb(254, 217, 150);
}

.logoMinimalista{
    width: 30px;
    height: 30px;
}
#detallesProp div{
    float: left;
    display:inline;
    margin: 10px;
}
.houseFeature{
    display: inline;
}
/* div descriptivo */
#refContainer{
    /* height: 200px;
    width: 100px; */
    background-color: rgba(250, 243, 231, 0.822);
    /* background-color: white; */
    border: 1px solid black;
    position: absolute;
    top: 10px;
    /* left: 30px; */
    z-index: 99999999; /* Un valor alto para asegurarse de que esté encima */
    /* z-index: 9999999; */
}
.spanBalls{
    border-radius: 50%;
    font-size: 10px;
}
.refTexts{
    display: inline;
}