@import url('https://fonts.cdnfonts.com/css/old-london');

body{
    background-image: linear-gradient(orangered , orange);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#home{
    display: grid;
    grid-template-rows: auto auto auto;
    /* background-image: url(imagenes/saProps.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center -75px; */
    background: linear-gradient(to bottom, rgba(255,0,0,0) 60%, rgba(255, 148, 0,1)), 
                url(imagenes/saProps.png) no-repeat center -75px / cover;
    height: 750px;
}

.search-button{
    width: 35px;
    height: 35px;
    padding: 0px;
    position: absolute;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    width: 30px;
    border-radius: 5px;
    height: 30px;

    background-image: url(imagenes/lupaLogo.png);
    background-size: cover;
    background-repeat: no-repeat;

}

/* #eleccion{ } */
input[type=text]{
    background-color: white solid;
    caret-color: orangered;
    border: none;
    border-bottom: 5px solid orangered;
    border-left: 5px solid orangered;
    /* opacity: 0.7; */
    font-size: 20px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

select{
    background-color: orangered;
    height: 35px;
    font-size: 15px;
}


.buscarCiudad{
    grid-row: 2;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    margin: 200px; 
    width: 500px;
    height: 50px;
    /* centra un div dentro de una fila grid */
    justify-self: center;
    border-radius: 20px;
    opacity: 0.8;
   
}

#home h1{
    grid-row: 1;
    font-family:"Old London";
    font-size: 45px;
    width: 400px;    
    margin: auto;
    color: black;
    /* border: 1px solid white; */
    /* -webkit-text-stroke: 0.01px rgb(255, 252, 249); */
    text-shadow: 
                -1px -1px 0 rgb(255, 252, 249), /* Sombra arriba-izquierda */
                1px -1px 0 rgb(255, 252, 249),  /* Sombra arriba-derecha */
                -1px 1px 0 rgb(255, 252, 249),  /* Sombra abajo-izquierda */
                1px 1px 0 rgb(255, 252, 249);   /* Sombra abajo-derecha */       
}

.ciudades{
    /* background-image: url(imagenes/vector-naranja2.jpg); */
    background-size:contain;
    /* position: absolute; */
    grid-row: 3;
    display: flex;
    flex-direction: column;
    grid-template-rows: 10% 30% auto;
    /* height: 85%; */
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.6); Fondo negro con opacidad. "a" = Alpha. Transparencia del color */
    /* opacity: 0.6; */
}

.ciudades div {
    margin: 5%;
}

.losSantos, .sanFierro, .lasVenturas{
    position: relative;

    width: 600px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.losSantos{
    background-image: url(imagenes/los\ santos.png);
    
}

.sanFierro{
    background-image: url(imagenes/sFierroAI.jpg);
    left: 50%;
}

.lasVenturas{
    background-image: url(imagenes/las\ venturas.png);
}

#descripcionLS, #descripcionLV{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 400px;
    border-radius: 5px;
}


#descripcionLS{
    background-color: rgb(230, 187, 130);
}
#descripcionSF{
    background-color: rgb(248, 163, 132);
    width: 200px;
    height: 230px;
    position: absolute;
    left: -80px;
    top: 10px;
    border-radius: 5px;
}
#descripcionLV{
    background-color: rgb(178, 109, 224);
    height: 250px;
}

.fontLS, .fontLV, .fontSF{
    margin: 0px;
}

.fontLS{
    background-image: conic-gradient(rgb(255, 255, 160),orange);
}

.fontSF{
    background-image: conic-gradient(gray ,rgb(255, 156, 121));
}

.fontLV{
    background-image: conic-gradient(rgb(163, 65, 205) ,rgb(113, 113, 255));
}

#LSfuente{
    margin-top: 10px;
    margin-left: 10px;
    width: 68%;
    height: 18%;
}

#SFfuente{
    margin-top: 10px;
    margin-left: 40px;
    width: 68%;
    height: 15%;
}

#LVfuente{
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
    height: 14%;
}
a{
    margin: auto;
    color: black;
    text-decoration: none;
}



/* #navbar{

    background-color: orange;
}*/

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    
}
li{
    display: inline;
} 
#navbar {
    background-color: #333;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Garamond';
    transition: background 0.3s ease;
}

#navbar ul li a:hover,
#navbar ul li a:focus {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 10px 10px;
    color: #ffeb3b;
}

/* Clear floats after the list items */
#navbar:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background: linear-gradient(180deg, black, orange);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img{
    height: 40px;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}