@import url('https://fonts.cdnfonts.com/css/old-london');

#home{
    background-color: rgb(243, 163, 65);
    height: 350px;
}


#home h1{
    /* background-color: darkorange; */
    font-family:"Old London";
    font-size: 45px;
    width: 400px;    
    margin: auto;
    color: black;
    /* border: 1px solid white; */
    -webkit-text-stroke: 0.01px rgb(250, 235, 215);
    /* text-shadow: 0 0 2px white; */
}


.choice{
    width: 100%;
    display: flex;
    background-color: orangered;
}

.choice div {
    margin: 5%;
}
#losSantos{
    width: 250px;
    height: 250px;
    background-color: rgb(230, 187, 130);
}

#sanFierro{
    width: 250px;
    height: 250px;
    background-color: rgb(246, 148, 113);
}

#lasVenturas{
    width: 250px;
    height: 250px;
    background-color: rgb(178, 109, 224);
}

a{
    margin: auto;
    color: black;
    text-decoration: none;
}

.input{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px; 
    width: 50%;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    
}
li{
    display: inline;
    /* float: left; */
}

/* estilos de formulario */

#nuevaCuenta, #cuentaExistente{
    /* nos permite cambiar el color del cursos que vemos en el input
     cuando vamos a escribir. */
    caret-color: orange;
    background-color: orangered;
}