@import url('https://fonts.cdnfonts.com/css/old-london');

html,body{
    height: 100%;
}


body{
    background-image: linear-gradient(orangered , orange);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex; /* 1 */
    flex-direction: column;
    min-height: 100vh;
}

.contenido-envuelto{
    flex: 1;
}

#home{
    display: grid;
    grid-template-rows: auto auto auto;
    /* background-image: url(imagenes/saProps.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center -75px; */
    background: linear-gradient(to bottom, rgba(255,0,0,0) 60%, rgba(255, 152, 0,1)), 
                url(imagenes/saProps.png) no-repeat center -75px / cover;
    background-size: 100% 700px;
    height: auto;
}

.search-button{
    width: 35px;
    height: 35px;
    padding: 0px;
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    width: 25px;
    border-radius: 5px;
    height: 25px;

    background-image: url(imagenes/lupaLogo.png);
    background-size: cover;
    background-repeat: no-repeat;

}

#form-container form{
    display: inline-block;
}

#eleccion{
    height: 33px;
    padding: 0px;
    margin: 0px;
}

input[type=text]{
    background-color: white solid;
    caret-color: orangered;
    border: none;
    border-right: 5px solid orange;
    border-left: 5px solid orange;
    /* opacity: 0.7; */
    font-size: 20px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

select{
    background-color: orange;
    height: 35px;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}


.buscarCiudad{
    grid-row: 2;
    background-color: rgba(248, 204, 124, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    padding: 10px 30px 10px 10px;
    margin: 200px; 
    width: 470px;
    height: 100px;
    /* centra un div dentro de una fila grid */
    justify-self: center;
    border-radius: 20px;
    /* opacity: 0.8; */
}

#button-container{
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
    width: 100%;
    padding: 10px;
    
}

#button-container button{
    background-color: rgb(255, 184, 51);
    width: 100px;
    height: 40px;
    border-radius: 15px;
    font-size: 10px;
}

#home h1{
    grid-row: 1;
    font-family:"Old London";
    font-size: 45px;
    width: 400px;    
    margin: auto;
    color: black;
    /* border: 1px solid white; */
    /* -webkit-text-stroke: 0.01px rgb(255, 252, 249); */
    text-shadow: 
                -1px -1px 0 rgb(255, 252, 249), /* Sombra arriba-izquierda */
                1px -1px 0 rgb(255, 252, 249),  /* Sombra arriba-derecha */
                -1px 1px 0 rgb(255, 252, 249),  /* Sombra abajo-izquierda */
                1px 1px 0 rgb(255, 252, 249);   /* Sombra abajo-derecha */       
}

.ciudades, .verEmprendimientos, .verAlquileres, .verPropiedades{
    grid-row: 3;
    background-color: rgba(255, 255, 255, 0.5); 
    height: 700px;
    background-size: cover;
    cursor: pointer;
}

.ciudades div {
    margin: 10%;
}

.losSantos, .sanFierro, .lasVenturas{
    position: relative;
    width: 450px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
}
.losSantos{
    background-image: url(imagenes/losSantosCityFoto.png);
    bottom: 10%;
    right: 5%;
}

.sanFierro{
    background-image: url(imagenes/sFierroAI.jpg);
    left: 47%;
    bottom: 10%;
}

.lasVenturas{
    background-image: url(imagenes/lasVenturasCityFoto.png);
    bottom: 10%;
    right: 5%;
}

#descripcionLS, #descripcionLV{
    width: 300px;
    height: 150px;
    position: absolute;
    left: 330px;
    bottom: 40px;
    border-radius: 5px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.6);
}

#descripcionLS p, #descripcionLV p, #descripcionSF p{
    font-size: 15px;
}


#descripcionLS{
    background-color: rgb(230, 187, 130);
}

#descripcionSF{
    background-color: rgb(235, 161, 163);
    width: 320px;
    height: 150px;
    position: absolute;
    right: 290px;
    top: 75px;
    border-radius: 5px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.6);
}
#descripcionLV{
    background-color: rgb(170, 130, 196);
    height: 170px;
    width: 320px;
    
}

.fontLS, .fontLV, .fontSF{
    margin: 0px;
    width: 80%;
    height: 400px;
}

.fontLS{
    background-image: conic-gradient(white, rgb(246, 246, 100));
}

.fontSF{
    background-image: conic-gradient(rgb(246, 142, 104), white);
}

.fontLV{
    background-image: conic-gradient(white ,rgb(113, 113, 255));
}

#LSfuente{
    margin-top: 10px;
    margin-left: 10px;
    width: 35%;
    height: 18%;
}

#SFfuente{
    margin-top: 10px;
    margin-left: 40px;
    width: 33%;
    height: 17%;
}

#LVfuente{
    margin-top: 10px;
    margin-left: 10px;
    width: 40%;
    height: 16%;
}
a{
    margin: auto;
    color: black;
    text-decoration: none;
}


ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    
}
li{
    display: inline;
} 
#navbar {
    background-color: #333;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Garamond';
    transition: background 0.3s ease;
}

#navbar ul li a:hover,
#navbar ul li a:focus {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 10px 10px;
    color: #ffeb3b;
}

/* Clear floats after the list items */
#navbar:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background: linear-gradient(180deg, black, orangered);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid orangered;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.8);
}

footer img{
    height: 40px;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* propuesta elegida estilos */
.backgroundOpcion{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    background-image: url(imagenes/wang-cars.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cardOpcion{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 250px;
    width: 700px;
    /* background-color: blue; */
}
.glass-effect{
    border: 2px solid black;
    background-color: #e6e0e010;
    backdrop-filter: blur(0.4rem);
    /* agregamos esta propiedad para asegurarnos que funcione en la mayoría de navegadores:  */
    -webkit-backdrop-filter: blur(0.4rem);
}
#IMGopcionContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    background-image: linear-gradient(rgb(255, 255, 255),black)
}
#IMGopcionContainer img{
    height: 150px;
    width: 250px
}
#IMGopcionContainer span{
    position: absolute;
    bottom: 190px;
    right: 580px;
    color: white;
}

#descripcionOpcion{
    color: white;
}

#descripcionOpcion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
#descripcionOpcion p{
    grid-column: 1 / span 2;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
#descripcionOpcion span{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}